\documentclass[a4paper, landscape, 10pt]{article}

\usepackage[top=1cm, bottom=1cm, left=1cm, right=1cm]{geometry}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}

\begin{document}

\tiny

{% for student in results.students %}
  \begin{minipage}{\textwidth}
    { \bf
    \begin{tabular}{|c|*{5}{c|}}
    \hline
      {{results.general.name}} & {{ student.name }} & Note : {{ student.note }} & Rang : {{ student.rank }} & Moyenne : {{ results.general.avg }} & \'Ecart-type : {{ results.general.std }} \\
    \hline
    \end{tabular}
    }

    \begin{tabular}{|l|*{ {{ results.general.max_questions }} }{c|}}
    {% for exo, data in student.exercices.items() %}
        \hline
        & \multicolumn{ {{ results.general.max_questions }} }{c|}{ {{ exo }} } \\
        \hline
        Questions & {{ data.bar.title | join('&') }} 
        {% if data.bar.extra > 0 %} & \multicolumn{ {{ data.bar.extra }} }{c}{} {% endif %} \\ 
        \cline{1-{{ data.bar.title | length + 1 }} }
        
        % {{ data.bar.extra }} {{ results.general.max_questions }} {{ data.bar.title | length }}

        Réussite & {{ data.bar.success | join('&') }} 
        {% if data.bar.extra > 0 %} & \multicolumn{ {{ data.bar.extra }} }{c}{} {% endif %} \\
        \cline{1-{{ data.bar.title | length + 1 }} }


        Barème & {{ data.bar.points | join('&') }} 
        {% if data.bar.extra > 0 %} & \multicolumn{ {{ data.bar.extra }} }{c}{} {% endif %} \\
        \cline{1-{{ data.bar.title | length + 1 }} }
        Sur la copie & {{ data.raw | join('&') }} 
        {% if data.bar.extra > 0 %} & \multicolumn{ {{ data.bar.extra }} }{c}{} {% endif %} \\
        \cline{1-{{ data.bar.title | length + 1 }} }
        En réalité & {{ data.corrected | join('&') }} 
        {% if data.bar.extra > 0 %} & \multicolumn{ {{ data.bar.extra }} }{c}{} {% endif %} \\
    {% endfor %}
    \hline
    \end{tabular}
  \end{minipage}
  \vspace{0.3cm}
  \hrule
  \vspace{0.3cm}
{% endfor %}

\end{document}
